@import "../styles/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $black;
  color: $light-blue;
  font-family: $font-main;
  line-height: 1.6;
}

main {
  min-height: calc(100vh - 120px);
  padding: 2rem;
}

h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

a {
  color: $grey;
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    color: $light-blue;
  }
}
